@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap');

$ultraViolet: hsla(259, 30%, 42%, 1);
$sparklingGrape: hsla(302, 40%, 33%, 1);
$mullberry: hsla(311, 25%, 55%, 1);
$jacaranda: hsla(231, 40%, 66%, 1);
$rhapsody: rgba(182, 146, 191, 0.65);
$redViolet: hsla(333, 29%, 51%, 1);
$chateauRose: hsla(338, 51%, 64%, 1);
$prismPink: hsla(337, 72%, 79%, 1);
$textColor: hsl(60, 100%, 98%);

$titleFont: 'Dancing Script', cursive;
$defaultFont: 'Playfair Display', serif;
