@use './variables.scss';

html {
  font-size: 20px;
  font-family: variables.$defaultFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$titleFont;
}

h1 {
  text-align: center;
}

body {
  color: variables.$textColor;
  // color: #fff;
  // background-color: variables.$rhapsody;
  background-color: variables.$ultraViolet;
}

.Layout {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2.5rem auto;
}

nav .Links {
  display: inline-block;
  text-align: right;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin-left: 1.25rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: variables.$chateauRose;
}

a:link {
  color: variables.$mullberry;
}

a:visited {
  color: variables.$prismPink;
}

a:hover {
  color: variables.$chateauRose;
}

footer p {
  text-align: center;
  color: variables.$textColor;
  margin: 2.5rem auto;
}
